
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  #main{
    width:90%;
    margin:0 auto;
    color:#333333;
  
  }
  body{
    font-family: "Roboto", san-serif;
    background-color: #EEEEEE;
  }
  #title{
    text-align:center;
    padding-top:20px;
   
  }
  #title h1{
    font-size:40px;
    margin-bottom:20px;
  }
  #title p, #img-caption p{
      font-size: 20px;
  }
  #img-div{
    margin-top:40px;
    background-color:#FFFFFF;
    text-align:center;
    padding:30px;
  }
  #img-caption p{
    color: #333333;
    margin-top:20px;
    font-size:16px;
  }
  #tribute-info p{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    margin-bottom:20px;
  }
  #tribute-info{
    
    width:50%;
    margin:0 auto;
    padding-top:50px;
  }
  #tribute-info li{
    margin-bottom:20px;
    font-size: 24px;
  }
  i{
      font-size: 24px;
  }
  #by{
      margin-top: 20px;
  }
  .readmore{
      width: 80%;
      margin: 0 auto;
      font-size: 22px;
      font-weight: bold;
      padding-top: 50px;
  }
  @media screen and (max-width:1024px) {
      #img-div img{
        width: 100%;
      }
      #tribute-info{
          width: 80%;
      }
      
  }
  @media screen and (max-width:768px) {
      #title h1{
          font-size: 36px;
      }
      #tribute-info li{
          font-size: 20px;
      }
      .readmore{
          font-size: 18px;
      }
      i{
          font-size: 18px;
      }
      #title p, #img-caption p {
        font-size: 16px;
    }
  }